@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  box-sizing: border-box;
  
}
.hero{
    width:100%;
    height:100vh;
    background-image: url('"../images/3.jpg"');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content: center;

}

.card{
    width: 400px;
    height: 450px;
    background: #ffffff;
    position: relative;
    left: 250px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: #333;
}
.card h1{
    font-weight: 500;
    color: #000;

}
.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
    margin: 0px 0px 7px 0px;

}
label{
    display: block;
    width: 160px;
    position: absolute;
    left: 15px;
    bottom: 45px;
    background: #ffbe33;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
input{
    display: none;
}
.card-container {
    position: relative;
  }
  
.edit-button {
    position: absolute;
    left: 58px;
    top: 39px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.edit-button:hover {
    color: #ffbe33;
  }

.card-container2 {
    position: relative;
  }
  
.cp_button {
    position: absolute;
    right: 57px;
    top: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.cp_button:hover {
    color: #ffbe33;
  }

.card-container2 {
    position: relative;
  }
.add {
    position: absolute;
    left: 185px;
    top: 363px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.add:hover {
    color: #ffbe33;
  }
.submit {
  display: block;
  width: 160px;
  position: absolute;
  left: 160px;
  bottom: 110px;
  font-weight: bold;
  font-size: 17px;
  background: #ffbe33;
  color: #fff;
  padding: 13px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  border:none;

}